# Security headers
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Accept, X-Requested-With"
    Header set Access-Control-Allow-Origin "https://refpahang.com"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
</IfModule>

